In [1]:
# Outline

# Setup environment
# Data investigation / Correlation between variables
# Estimators
# Inputation / Feature Encoding
# Pipeline 
# Model Selections

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [3]:
# Data investigation

train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

# Correlation

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# Model selection

from sklearn.ensemble import RandomForestClassifier
# y = prediction target
# test_y = both test_y and train_y because Survived is only in train_data which is what we're testing for
test_y = train_data.Survived

# change feature to find better fit
features = ["Sex", "SibSp","Pclass"]

# turns features into 1, 0 dummy variables so we can see who lived and who died in training and testing data
    # training 
train_X = pd.get_dummies(train_data[features])
    # testing
test_X = pd.get_dummies(test_data[features])

# specify model
# need to test estimator
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

# fit model
# use test_y because test_y = train_y
model.fit(train_X, test_y)

predictions = model.predict(test_X)

In [5]:
# how to create submission for Titanic competition
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!